# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

jobs:
- deployment: CI_VM
  displayName: 'CI sobre VM Linux'
  environment:
    name: env-vm-linux
    resourceType: VirtualMachine
  strategy:
    runOnce:
      deploy:
        steps:
        - script: |
            echo "Pipeline ejecutándose correctamente en la VM"
            hostname
            whoami
          displayName: 'Validación de ejecución en VM'
