trigger:
- main
 
pool:
  vmImage: 'ubuntu-latest'
 
variables:
  azureSubscription: 'DEVOPS_001A_GRUPO03' # Este es un nombre que debe cambiar al que crearon.
  location: 'eastus2'
  resourceGroupName: 'DEVOPS_001A_GRUPO03' # Este es un nombre que debe cambiar al que crearon.
  virtualNetworkName: 'VNet-taller-DevOps'
  subnetName: 'Subnet-taller-DevOps'
  addressPrefix: '10.0.0.0/16'
  subnetPrefix: '10.0.1.0/24'
  securityGroupName: 'NSG-taller-DevOps'
  publicIpName: 'PublicIP-2-taller-DevOps'
  vmName: 'VM-2-taller-DevOps'
  vmSize: 'Standard_B1s'  # SKU disponible en eastus2
  adminUsername: 'azureuser'
  adminPassword: 'AZUREpassword1'  # Contraseña en texto plano (ajustar según necesidad)
 
  # Variables de la imagen
  imagePublisher: 'Canonical'
  imageOffer: '0001-com-ubuntu-server-jammy'
  imageSku: '22_04-lts-gen2'
  imageVersion: 'latest'  # Versión específica de la imagen
 
steps:
- task: AzureCLI@2
  inputs:
    azureSubscription: $(azureSubscription)
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      set -e  # Termina el script si cualquier comando falla
 
      # Crear un grupo de recursos
      echo "Prueba pipeline..."
     
  
